[Unit]
Description=Schleuder API daemon
After=local-fs.target network.target syslog.target

[Service]
ExecStart=/usr/local/bin/schleuder-api-daemon
User=schleuder

[Install]
WantedBy=multi-user.target
