#!/usr/bin/make -f

export DH_RUBY

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_installsystemd:
	dh_installsystemd --name=schleuder-api-daemon --restart-after-upgrade

override_dh_installinit:
	dh_installinit --name=schleuder-api-daemon --restart-after-upgrade
